@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mask-image {
  -webkit-mask-image: linear-gradient(to right, transparent, black 40%, black 60%);
  mask-image: linear-gradient(to right, transparent, black 10%, black 60%);
}

.ibm-font {
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

.mobile-menu:nth-child(1) > ul {
  width: 260%;
  left: 20%;
  margin-bottom: 13px;
}
.mobile-menu:nth-child(4) > ul {
  width: 260%;
  left: 20%;
  margin-bottom: 60px;
}
.mobile-menu:nth-child(2) > ul {
  width: 260%;
  left: -80%;
  margin-bottom: 13px;
}
.mobile-menu:nth-child(5) > ul {
  width: 260%;
  left: -80%;
  margin-bottom: 60px;
}
.mobile-menu:nth-child(3) > ul {
  width: 260%;
  right: 20%;
  margin-bottom: 13px;
}
.mobile-menu:nth-child(6) > ul {
  width: 260%;
  right: 20%;
  margin-bottom: 60px;
}

.mobile-menu > ul > li > a {
  display: block !important;
}

.mobile-menu > ul > li > a:hover {
  background-color: #707070;
  color: white;
}
